@charset "utf-8";
html{
font-size: 62.5%;
}

ul{
margin: 0;
padding: 0;
}
li{
list-style: none;
}
img{
vertical-align: middle;
}

.mcf:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}


.txt{
word-wrap: break-word;
text-indent: -100%;
font-size: 1rem;
overflow: hidden;
background-repeat: no-repeat;

}
