
//compassをインポート
@import "compass";


//ノーマライズ訂正
ul{
padding: 0;
}


// 定義する：色
$text_color:#CFF;
$border_color:#CFF;
$kagome_red:red;
$kagome_green:#CFF;
//  定義する：幅
$kagome-width:960px;
$slide-widht:960px;
$video-width:1500px;


// 定義する：ミックスイン
@mixin circle1 {
     width: 50px;
     height: 50px;
     border-radius: 100%;
}

// 引数を使う
@mixin circle2($size) {
     width: $size;
     height: $size;
     border-radius: 30%;
}
// 初期値の設定
@mixin circle3($size:100px) {
     width: $size;
     height: $size;
     border-radius: 10%;
}
html{
width: 100%;
}
body{
   width:100%;
   height:100%;
   background: #fff;
   color:#1a1a1a;
min-width:960px;
}



.local_nav{
   width: $kagome-width;
   margin: 0 auto;
}

.local_nav ul{
   font-size: 0;
background-image: url(../img/nav_bg.jpg);
width: 960px;
height: 62px;
}
.local_nav ul li{
   display: inline-block;
   font-size: 1rem;
   width: 175px;
   height: 62px;
   overflow: hidden;
   text-indent: 100%;
   white-space: nowrap;
   background-repeat: no-repeat;
}
.local_nav ul li a{
   display: block;
   width: 100%;
   height: 100%;

   width: 157px;
   height: 62px;
   margin: 0 auto;

   @include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-out);
	@include transition-delay(0s);

}
.local_nav ul .logo{
   width: 85px;
}
.local_nav ul .logo a{
   background-image: url(../img/logo.jpg);
   width: 85px;
}

.local_nav ul .top a{
   background-image: url(../img/nav_top.jpg);
}
.local_nav ul .top a:hover{
   background-image: url(../img/nav_top_on.jpg);
}
.local_nav ul .tomato a{
   background-image: url(../img/nav_tomato.jpg);
}
.local_nav ul .tomato a:hover{
   background-image: url(../img/nav_tomato_on.jpg);
}
.local_nav ul .babyleaf a{
   background-image: url(../img/nav_leaf.jpg);
}
.local_nav ul .babyleaf a:hover{
   background-image: url(../img/nav_leaf_on.jpg);
}
.local_nav ul .tyomiryo a{
   background-image: url(../img/nav_tyomiryo.jpg);
}
.local_nav ul .tyomiryo a:hover{
   background-image: url(../img/nav_tyomiryo_on.jpg);
}
.local_nav ul .recipe a{
   background-image: url(../img/nav_recipe.jpg);
}
.local_nav ul .recipe a:hover{
   background-image: url(../img/nav_recipe_on.jpg);
}



.slider-pro{
   min-width: 960px;
   border-top: 1px solid $kagome_red;
   padding-top: 15px;
}



.hdr_recipe{
   background-image: url(../img/hdr_recipe.png);
   width: 171px;
   height: 92px;
   background-repeat: no-repeat;
   overflow: hidden;
   text-indent: 100%;
   margin: 0 auto;
margin-bottom: 30px;
   white-space: nowrap;

}



.recipe_part{
   background-image: url(../img/bg_recipe.jpg);
   background-size: cover;
   // width: 1500px;
   height: 710px;
   background-repeat: no-repeat;
   margin: 0 auto;
   margin-top: 30px;
   margin-bottom: 200px;
   background-position: center;
   background-position-y:60px;
   max-width: 1500px;
   // ios
   min-width: $kagome-width;

}

.recipe_inner{
   // width: $kagome-width;
   margin: 0 auto;
   text-align: center;
}

.recipe_serch_wrap{
   // background-color: rgba(255, 255, 255, .9);
   // z-index: 100;
}
.recipe_btnArea{
   width: 650px;
   margin: 0 auto;
   margin-bottom: 70px;
}
.recipe_btnArea_list li{
   display: inline-block;

overflow: hidden;
font-size: 0;
white-space: nowrap;

}
.recipe_btnArea_2{
display: inline-block;
width: 320px;
height: 135px;

}
.recipe_btnArea_3{
display: inline-block;
width: 205px;
height: 72px;
}

.btn_tomato{
   background-image: url(../img/btn_recipe_tomato.png);
   background-repeat: no-repeat;
}

.btn_babyleaf{
   background-image: url(../img/btn_recipe_babyleaf.png);
   background-repeat: no-repeat;

}
.btn_reduce{
   background-image: url(../img/btn_recipe_reduce.png);
   background-repeat: no-repeat;

}

.btn_birecipe{
   background-image: url(../img/btn_recipe_bi.png);
   background-repeat: no-repeat;

}
.btn_double{
   background-image: url(../img/btn_recipe_reduce.png);
   background-repeat: no-repeat;

}


.txt_recipe_intoroduction{
background-image: url(../img/txt_recipe_intoroduction.png);
width: 300px;
height: 60px;
background-repeat: no-repeat;
overflow: hidden;
text-indent: 100%;
white-space: nowrap;

margin: 0 auto;

}

.hdr_recipe_search{
   background-image: url(../img/hdr_recipe_serch.png);
   background-repeat: no-repeat;
   width: 148px;
   height: 42px;
   overflow: hidden;
   text-indent: 100%;
   white-space: nowrap;

   margin: 0 auto;
   margin-bottom: 40px;
}

.wrapper{
   position: relative;
height: 540px;
overflow: hidden;

}

.hdr_tomato{
position: absolute;
top:50px;
left:30%;
   background-image: url(../img/hdr_tomato.png);
   width: 473px;
   height: 245px;
   background-repeat: no-repeat;
   overflow: hidden;
   text-indent: 100%;
   margin: 0 auto;
   white-space: nowrap;
}





.hdr_babyleaf{
   position: absolute;
top:50px;
left:30%;

   background-image: url(../img/hdr_babyleaf.png);
   width: 473px;
   height: 245px;
   background-repeat: no-repeat;
   overflow: hidden;
   text-indent: 100%;
   margin: 0 auto;
   white-space: nowrap;
}


.hdr_tyomiryo{
   position: absolute;
top:50px;

left:30%;

   background-image: url(../img/hdr_tyomiryo.png);
   width: 473px;
   height: 245px;
   background-repeat: no-repeat;
   overflow: hidden;
   text-indent: 100%;
   margin: 0 auto;
   white-space: nowrap;
}


.wrap1500{
max-width: 1500px;
   min-width: 960px;
   margin: 0 auto;
}

.video{
   width: 100%;
	margin-top: -50px;
	z-index: -100;
}
.mask {
    position: absolute;
    height: 540px;
    width: 100%;
    z-index: 1;
	 box-sizing: border-box;

}

.flowing li{
position: relative;
// border: 1px solid gray;
@include box-shadow (1px 1px 4px #999) ;
padding: 5px;

}
.flowing li a{
padding: 0px;
display: block;
}
.flowing .tag_tomato::after{
position: absolute;
top: -20px;
left: -5px;
content: "";
background-image: url(../img/icon_tomato.png);
width: 59px;
height:54px;
}
.flowing .tag_leaf::after{
position: absolute;
top: -20px;
left: -5px;
content: "";
background-image: url(../img/icon_leaf.png);
width: 59px;
height:54px;
}







/*メインナビ*/
ul.dropdown{
}

li.dropdown_maindir{
   list-style: none;
   cursor: pointer;
}

li.dropdown_maindir:hover{
   transition: .2s;
}

li.dropdown_maindir  a{
   color: #FFF;
   text-decoration: none;
   display: inline-block;

}



/*下層ナビ表示アニメーション*/
.subdir{
   visibility: hidden;
   border: 1px solid #333;
   transform: translateY(15px);
   transition-property: all;
   transition-duration: .3s;
   transition-timing-function:  ease-in-out;
   transition-delay: .1s;
   line-height: 2;
   opacity: 0;

}

.dropdown_maindir:hover .subdir{
   visibility: visible;
   transform: translateY(25px);
   transition-property: all;
   transition-duration: .3s;
   transition-timing-function:  ease-in-out;
   transition-delay:.2s ;
   opacity: 1;
}


/*下層ナビデザイン*/
.subdir li a{
   background: #EEE;
   display: inline-block;
   width: 100%;
   height: 100%;
}
.subdir li a:hover{
   background: #CCC;
   transition:.4s;
}
